# Group Member 1's Working Notebook

## Description

Here's where I'd outline the goals of this specific notebook, and how they fit into the larger project goals

In [5]:
# Imports
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns

conn = sqlite3.connect('..\..\data\im.db')

## Queries

1. Director (add what they're known for in slide deck) - IMDB – movie_basics & directors

2. Writer – IMDB – movie_basics & writers

## Step 1: Import Data

In [7]:
# More code!
imdb = pd.read_sql("""
SELECT * 
FROM imdb
""",conn)
imdb

DatabaseError: Execution failed on sql '
SELECT *
FROM imdb
': no such table: imdb